<script type="text/javascript" defer src="../scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" defer src="../scripts/jquery-ui.js"></script>
<script type="text/javascript">
    const css1 = document.createElement('link');
    css1.href = '../css/mpa.css';
    css1.rel = 'stylesheet';
    css1.type = 'text/css';
    const css2 = document.createElement('link');
    css2.href = '../css/jquery-ui.css';
    css2.rel = 'stylesheet';
    css2.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(css1);
    document.getElementsByTagName('head')[0].appendChild(css2);
</script>

<div>
    <h2>Lighthouse Performance</h2>
    <div>
        <span>
            <img src="../image/html5.png" width="30%" />
        </span>
        <span>
            <img src="../image/css3.png" width="30%" />
        </span>
        <span>
            <img src="../image/javascript.png" width="30%" />
        </span>
    </div>
</div>
