<link rel="stylesheet" href="../css/mpa.css" />
<link rel="stylesheet" href="../css/jquery-ui.css" />
<script type="text/javascript" src="../scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../scripts/jquery-ui.js"></script>

<div>
    <h2>Lighthouse Performance</h2>
    <div>
        <span>
            <img src="../image/html5.png" width="30%" />
        </span>
        <span>
            <img src="../image/css3.png" width="30%" />
        </span>
        <span>
            <img src="../image/javascript.png" width="30%" />
        </span>
    </div>
</div>
