
<div>
    <h2>Lighthouse SEO</h2>
    <div>
        <span>
            <img src="../image/html5.png" width="30%" alt="HTML5 로고" />
        </span>
        <span>
            <img src="../image/css3.png" width="30%" alt="CSS3 로고" />
        </span>
        <span>
            <img src="../image/javascript.png" width="30%" alt="JavaScript 로고" />
        </span>
    </div>

    <div>
        <p>링크 사이트(Google 검색) <a href="https://google.com">Google로 이동</a></p>
        <p>링크 사이트(Naver 검색) <a href="https://naver.com">Naver로 이동</a></p>
        <p>링크 사이트(우리카드) <a href="https://m.wooricard.com">우리카드로 이동</a></p>
    </div>
</div>
