
<div>
    <h2>Lighthouse SEO</h2>
    <div>
        <span>
            <img src="../image/html5.webp" width="30%" />
        </span>
        <span>
            <img src="../image/css3_new.webp" width="30%" />
        </span>
        <span>
            <img src="../image/javascript_new.webp" width="30%" />
        </span>
    </div>

    <div>
        <p>Google로 이동 <a href="https://google.com">Click Here</a></p>
        <p>Naver로 이동 <a href="https://naver.com">Click Here</a></p>
        <p>우리카드로 이동 <a href="https://m.wooricard.com">Click Here</a></p>
    </div>
</div>
