<!DOCTYPE html>
<html>
    <head>
        <title>Page 1 - M00001</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <table> 
        {{#each comment}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
            </tr>
        {{/each}}
        </table>
        <ul>
            <li>
                <div>
                    <dl>
                        <dt>
                            LG U+통신요금 자동이체
                        </dt>
                        <dd>
                            <span>2025.01.09 07:07</span>
                            <span>본인</span>
                            <span>유알에스 카드</span>
                            <span>35*</span>
                        </dd>
                    </dl>
                    <div>
                        <span>20,140원</span>
                    </div>
                </div>
            </li>
        </ul>
    </body>
</html>